

body {
  Background-color: white;
  background-image: linear-gradient(rgb(24, 41, 126),white);
}

h1 {
  color: blue;
  text-align: center;
  Font-size: 100px
}

/* Add a black background color to the top navigation */
.topnav {
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
  background-color: rgba(24, 41, 126,0.6);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: rgba(24, 41, 126);
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: white;
  color: rgb(24, 41, 126);
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.title {
  color: white;
  text-shadow: 3px 3px 3px white;
  font-family: "Audiowide";
}


.paragraph-style {
  background-color: white;
  padding: 50px;
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
  font-family: verdana;
  font-size: 15px;
}


.txtmargin {
  margin-left: 50px;
  margin-right: 100px;
  margin-top: 100px;
}

.column {
  float: center;
  width: 1100px;
  padding 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width:1366px) {
  .column {
    width: 100%;
  }









