

body {
  Background-color: white;
  background-image: linear-gradient(rgba(0,152,223,0.4),white);
}

h1 {
  color: blue;
  text-align: center;
  Font-size: 100px
}

/* Add a black background color to the top navigation */
.topnav {
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
  padding: 1px;
  background-color: grey;
  border: 1px solid grey;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: black;
  color: white;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: red;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
}

li a:hover {
  background-color: white;
  color: black;
}

h2 {
  Color: rgb(255,255,255);
  Text-align: left;
}

.paragraph-style {
  background-color: white;
  border: 5px solid black;
  padding: 20px;
  margin-top: 100px;
  margin-right: 100px;
  margin-left: 100px;
  font-family: verdana;
  font-size: 15px;
}



